* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  overflow: visible;
  font-size: 14px;
  min-width: 320px;
}

body {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/*Navigation menu styles*/
nav {
  background-color: black;
  width: 100%;
  height: 70px;
  padding-bottom: 20px;
  overflow: hidden;
  -webkit-transition: height ease-in 0.5s;
  transition: height ease-in 0.5s;
}

.nav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

.nav-content div {
  padding: 20px;
}

.nav-item {
  display: block;
  margin: 0 70px;
  height: 70px;
  line-height: 70px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  background-color: black;
}

.nav-item:hover {
  color: black;
  background-color: #ff9b51;
}

#main-logo {
  float: left;
}

#main-logo img {
  height: 30px;
}

#nav-label {
  float: right;
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#nav-toggle {
  display: none;
}

#nav-toggle:checked {
  display: none;
}

#nav-toggle:checked + nav {
  height: 444px;
}

@media screen and (min-width: 680px) {
  #nav-label {
    display: none;
  }
  .nav-content {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    position: relative;
  }
  .nav-content div {
    position: absolute;
    padding: 20px;
    left: 0;
  }
  .nav-item {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    padding: 0 20px;
    margin: 0;
  }
}

@media screen and (min-width: 1140px) {
  .nav-content div {
    float: left;
    padding: 20px 0;
  }
  .nav-content .nav-item:last-child {
    padding-right: 0;
  }
}

/*header section*/
header {
  position: relative;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/header-background.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto auto;
  -webkit-filter: brightness(0.52);
          filter: brightness(0.52);
}

.header-content {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 20px 0;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
      grid-template-rows: auto auto;
  padding: 20px;
}

.header-cell-1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1 / 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
}

.header-cell-1 div {
  position: relative;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.header-cell-1 div img {
  display: none;
}

.header-cell-1 div h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  color: white;
  margin-bottom: 20px;
  text-align: center;
}

.header-cell-1 div .white-stripe {
  width: 70px;
  height: 2px;
  background-color: #ffffff;
  margin: 0 auto;
}

.header-cell-1 div p {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: 400;
  margin: 20px 0;
  text-align: justify;
}

.header-cell-1 div button {
  display: block;
  width: 135px;
  height: 44px;
  border: 2px solid white;
  color: white;
  background-color: transparent;
  margin: 20px auto;
  cursor: pointer;
}

.header-cell-1 div button:focus {
  outline: 0;
}

.header-cell-1 div button:active, .header-cell-1 div button:hover {
  border-color: #ff9b51;
}

.header-cell-2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #b0b0b0;
}

.header-cell-2 fieldset {
  display: block;
  max-width: 360px;
  margin: 0 auto;
  border: none;
  border-radius: 3px;
  overflow: hidden;
}

.header-cell-2 fieldset legend {
  display: block;
  width: 100%;
  height: 55px;
  background-color: #f5f5f5;
  color: black;
  font-size: 20px;
  line-height: 55px;
  text-align: center;
}

.header-cell-2 fieldset legend span {
  color: #ff9b51;
}

.header-cell-2 fieldset .inputs {
  display: block;
  width: 100%;
  padding: 0 20px;
  background-color: #ffffff;
  padding-bottom: 50px;
}

.header-cell-2 fieldset .inputs input {
  height: 60px;
  width: 100%;
  padding-top: 20px;
  border-top: none;
  border-left: 1px solid #fbfbfb;
  border-right: 1px solid #fbfbfb;
  border-bottom: 1px solid #d6d6d6;
  text-indent: 13px;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #b0b0b0;
}

.header-cell-2 fieldset .inputs input:hover {
  border: 1px solid #d6d6d6;
}

.header-cell-2 fieldset button {
  display: block;
  width: 100%;
  height: 55px;
  background-color: #ff9b51;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  color: #b0b0b0;
  font-weight: 500;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.header-cell-2 fieldset button:focus {
  outline: 0;
}

.header-cell-2 fieldset button:hover {
  background-color: rgba(255, 155, 81, 0.8);
}

@media screen and (min-width: 680px) {
  .header-content {
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    grid-column-gap: 20px;
    padding: 20px;
  }
  .header-cell-1 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .header-cell-1 div img {
    display: none;
  }
  .header-cell-1 div h1 {
    text-align: left;
  }
  .header-cell-2 {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
  }
  .header-cell-2 fieldset {
    margin: 0 auto;
  }
}

@media screen and (min-width: 1140px) {
  header {
    height: calc(100vh - 70px);
  }
  .header-content {
    height: 100%;
    padding: 0;
  }
  .header-cell-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header-cell-1 div img {
    display: block;
    width: 180px;
    height: 65px;
    margin-bottom: 30px;
  }
  .header-cell-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
/*# sourceMappingURL=style.css.map */