$red:#ff6d6d;
$h2m: 8vw;
$h3m: 6vw; 
$h4m: 4vw;
$h2d: 4vh;
$h3d: 6vh; 
$h4d: 1.5vh;
$pm: 2vh;
$pd: 2vh;

*{
    box-sizing: border-box;
}

body{
    padding:0;
    margin:0;
    font-family: 'Exo', sans-serif;
}
.header,
.description-section,
.feature-section,
.content-section,
.reviews-section{
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    overflow: hidden;
}
.header,
.description-section,
.feature-section,
.content-section,
.reviews-section{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5vw;
    position: relative;
    flex-direction: column;
}
.header{
    z-index: 1;
    .header__text{
        text-align: center;
        font-size: 12vw;
        max-height: 50vh;
        padding-bottom: 4vh;
        h1{
            font-size: inherit;
            font-weight: 100;
            margin:0;
        }
    }
    .header__video-background{
        display: block;
        position: absolute;
        top:0;
        left:0;
        z-index: -1000;
        opacity: 0.7;
    }
    .video-button{
        display: none;
    }
    .subscribe{
        .subscribe__button{
            display: block;
            text-decoration: none;
            color: #fff;
            line-height: 10vw;
            font-size: $h4m;
            width: 50vw;
            height: 10vw;
            text-align: center;
            text-transform: uppercase;
            font-weight: 400;
            letter-spacing: 0.5vmin;
            background-color: $red;
            border-radius: 1vw;
        } 
        .subscribe-button:hover{
            background-color: #da5e5e;
        }
        .subscribe__notes{
            text-align: center;
            font-size: 3vw;
            font-weight: 400;
        }
        .subscribe__notes::before, .subscribe__notes::after{
            content: "*";
        }
    }
}
.description-section{
    background: linear-gradient(135deg,
    rgba(236,236,236,1) 10%,
    rgba(255,255,255,1) 10%,
    rgba(255,255,255,1) 90%,
    $red 90%);
    .description-section__description{
        h4{
            font-size: $h4m;
            color: $red;
            text-transform: uppercase;
            letter-spacing: 0.5vmin;
            font-weight: 500;
            margin-bottom: 0;
        }
        h2{
            display: block;
            font-size: $h2m;
            font-weight: 500;
            margin-top: 0;
            span{
                display: block;
            }
            span::after{
                color:$red;
                content: " ....";
                letter-spacing: 0.1em;
            }
        }
        p{
            font-size: $pm;
            font-weight: 500;
            color: #878787;
            text-align: justify;
        }
    }
}
.feature-section{
    background: #f6f5f3;
    .feature-section__img1,
    .feature-section__img2,
    .feature-section__img3{
        position: absolute;
        width: 30vw;
        height: 20vh;
        img{
            width: 100%;
            height: auto;
            filter: drop-shadow(5px 5px 5px rgb(167, 167, 167));
            opacity: 0.7;
        }
    }
    .feature-section__img1{
        top: -5vh;
        left: -10vw;
    }
    .feature-section__img2{
        top: 95vh;
        right: -10vw;
    }
    .feature-section__img3{
        top: -5vh;
        right: -10vw;
    }
    .feature-section__title{
        width: 100%;
        z-index: 2;
        h2{
            font-size: $h2m;
            font-weight: 500;
            margin-top:0;
            margin-bottom: 0;
        }
        h4{
            font-size: $h4m;
            color: $red;
            text-transform: uppercase;
            letter-spacing: 0.5vmin;
            font-weight: 500;
            margin-bottom: 0;
        }
    }
    .gallery{
        width: 100%;
        z-index: 2;
        .gallery__element{
            margin: 0;
            img{
                display: block;
                width: 15vw;
                height: auto;
                margin: 2vh auto 1vh auto;
            }
            figcaption{
                display: block;
                margin: 0;
                h3{
                    text-align: center;
                    font-weight: 500;
                    font-size: $h3m;
                    margin-bottom: 0;
                    margin-top: 0;
                }
                p{
                    display: block;
                    margin: 0;
                    text-align: center;
                    font-weight: 500;
                    font-size: $pm;
                    color: #878787;
                }
            }
        }
    }
}
.content-section{
    background: rgb(236,236,236);
    background: linear-gradient(135deg,
    $red 10%,
    rgba(255,255,255,1) 10%,
    rgba(255,255,255,1) 90%,
    rgba(236,236,236,1) 90%);
    z-index: -1000;
    .content-section__illustration{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        img{
            display: block;
            width: 200%;
            opacity: 0.7;
            z-index: -1;
        }
    }
    .content-section__text{
        display: block;
        width: 100%;
        h4{
            font-size: $h4m;
            color: $red;
            text-transform: uppercase;
            letter-spacing: 0.5vmin;
            font-weight: 500;
        }
        h2{
            display: inline;
            font-size: $h2m;
            font-weight: 500;
        }
        h2{
            span::after{
                color:$red;
                content: " ....";
                letter-spacing: 0.1em;
            }
        }
        p{
            font-size: $pm;
            font-weight: 500;
            color: #878787;
            text-align: justify;
        }
    }
}
.reviews-section{
    background-image: url("/images/reviews-section-background.png");
    .reviews-section__wrapper{
        display: block;
        width: 90vw;
        height: 90vh;
        margin: 5vh auto;
        overflow: hidden;
        .slide-left-button, .slide-right-button{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: absolute;
            width: 10vw;
            cursor: pointer;
            z-index: 2;
            span{
                display: block;
                font-size: 3vh;
                color: rgba(255, 255, 255, 0.315);
                transition: color 0.3s, text-shadow 0.3s;
            }
        }
        .slide-left-button:hover,.slide-right-button:hover{
            span{
                color: rgba(255, 255, 255, 0.7);
                text-shadow: -1px -1px 3px #000,  
                1px -1px 3px #000,
                -1px 1px 3px #000,
                 1px 1px 3px #000;
            }
        }
        .reviews-left-button, .reviews-right-button{
            top: 5vh;
            height: 55vh;
        }
        .reviews-left-button{
            left:5vw;
        }
        .reviews-right-button{
            left: 85vw;
        }
        .partners-left-button, .partners-right-button{
            top: 65vh;
            height: 30vh;
        }
        .partners-left-button{
            left:5vw;
        }
        .partners-right-button{
            left: 85vw;
        }
        .reviews-section__reviews{
            display: block;
            position: relative;
            right:400vw;
            width: 500vw;
            height: 55vh;
            overflow: hidden;
            .hidden-figure{
                width: 0;
                margin: 0;
            }
            figure{
                display: block;
                float: right;
                width: 90vw;
                height: 55vh;
                margin:0;
                overflow: hidden;
                transition: width 0.8s ease-in-out;
                .img-container{
                    display: block;
                    position: relative;
                    width: 70vw;
                    overflow: hidden;
                }
                img{
                    display: block;
                    width: 15vh;
                    height: 15vh;
                    margin: 0 auto;
                    border-radius: 50%;
                    box-shadow: 0 0 5px rgb(0, 0, 0);
                    object-fit: cover;
                }
                figcaption{
                    display: block;
                    width: 70vw;
                    height: 40vh;
                    padding-top: 1vh;
                    overflow: hidden;
                    h5,p,blockquote{
                        display: block;
                        text-align: center;
                    }
                    h5{
                        margin: 0 0 2vh 0;
                        color: white;
                        font-size: 5vw;
                        font-weight: 500;
                        span{
                            display: block;
                            color: $red;
                            font-size: 4vw;
                        }
                    }
                    blockquote{
                        margin: 0;
                        color: rgb(135,135,135);
                        font-style: italic;
                    }
                }
    
            }
        }
        .reviews-section__partners{
            display: block;
            position: relative;
            right: 900vw;
            width: 1000vw;
            height: 35vh;
            padding-top: 5vh;
            overflow: hidden;
            .hidden-figure{
                width: 0;
                margin: 0;
            }
            figure{
                display: block;
                float: right;
                width: 90vw;
                height: 30vh;
                margin: 0;
                overflow: hidden;
                transition: width 0.8s ease-in-out;
                .img-container{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    position: relative;
                    width: 70vw;
                    height: 100%;
                    overflow: hidden;
                }
                img{
                    display: block;
                    max-width: 70vw;
                    height: auto;
                    filter: invert(0.8);
                }
            }
        }
    }

}
.reviews-section::before{
    position: absolute;
    top:0;
    left:0;
    width: 100vw;
    max-width: 100%;
    height: 100vh;
    content: "";
    background: rgba(0, 0, 0, 0.5);
}

@media (min-aspect-ratio: 16/9){
    .header{
        .header__video-background{
            width: 100%;
            height: auto;
        }
    }
}
@media (max-aspect-ratio: 16/9){
    .header{
        .header__video-background{
            width: auto;
            height: 100%;
        }
    }
}
@media (max-width:667px){
    .header{
        .header__video-background{
            display: none;
        }
    }
    .header::before{
        display: block;
        position: absolute;
        top:0;
        left:0;
        opacity: 0.7;
        z-index: -1;
        content: url('../images/poster.JPG');
    }
}
@media screen and (min-width: 667px){
    .header{
        .header__text{
            font-size: 6vh;
            max-height: 26vh;
            padding-bottom: 4vh;
        }
        .video-button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 6vh;
            height: 6vh;
            background-color:rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            color:white;
            cursor: pointer;
            transition: box-shadow 0.2s, background-color 0.2s;
            user-select: none;
            .video-button__image{
                display: block;
                width: 1.25vmin;
                height: 1.25vmin;
                border-top: 1.25vmin solid transparent;
                border-bottom: 1.25vmin solid transparent;
                border-left: 2vmin solid #ffffff73;
            }
        }
        .video-button:hover{
            box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
            background-color:rgba(0, 0, 0, 0.6);
            cursor: pointer;
            .video-button__image{
                border-left: 2vmin solid #ffffff;
            }
        }
        .subscribe{
            display: flex;
            flex-direction: column;
            width: 100%;
            align-items: center;
            justify-content: center;
            padding: 4vh 0;
            .subscribe__button{
                font-size: 1.5vh;
                line-height: 4vh;
                width: 15vw;
                min-width: 200px;
                height: 4vh;
                border-radius: 0.25vw;
            }
            .subscribe__notes{
                font-size: 1vh;
            }
        }
    }
    .description-section{
        padding: 0;
        flex-direction: row;
        .description-section__description, .description-section__illustration{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            h2,h4,p{
                display: block;
                width: 100%;
                padding: 0 4vw;
            }
            h2, h4{
                text-align: left;
            }
            h2{
                font-size: $h2d;
                margin:0;
            }
            h4{
                font-size: $h4d;
            }
            p{
                font-size: $pd;
                text-align: justify;
                text-justify: inter-word;
            }
        }
    }
    .feature-section{
        .feature-section__img1{
            top: -10vh;
            left: -10vw;
        }
        .feature-section__title{
            h2{
                font-size: 4vh;
            }
            h4{
                font-size: 1.5vh;
            }
        }
        .gallery{
            .gallery__element{
                img{
                    width: 8vh;
                }
                figcaption{
                    h3{
                        font-size: 3vh;
                    }
                }
            }
        }
    }
    .content-section{
        flex-direction: row;
        .content-section__text{
            h2{
                font-size: 4vh;
                span{
                    display: block;
                }
            }
            h4{
                font-size: 1.5vh;
            }
        }
        .content-section__illustration{
            img{
                width: 150%;
            }
        }
    }
}
@media screen and (min-width: 1025px){
    .description-section{
        background-image: none;
        background-color: #fff;
        .description-section__description{
            width: 60%;
        }
        .description-section__illustration{
            width: 40%;
            height: 100vh;
            background: #fff;
            background: linear-gradient(135deg,
            rgba(236,236,236,1) 58.5%,
            $red 58.5%);
        }
    }
    .feature-section{
        .feature-section__title{
            margin-bottom: 5vh;
        }
        .feature-section__img1,
        .feature-section__img2,
        .feature-section__img3{
            width: 10vw;
        }
        .feature-section__img1{
            top: -3vh;
            left: 5vw;
        }
        .feature-section__img2{
            top: 90vh;
            right: 5vw;
        }
        .feature-section__img3{
            top: -3vh;
            right: 5vw;
        }
        .feature-section__title{
            h2,h4{
                text-align: center;
            }
        }
        .gallery{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            .gallery__element{
                width: 25%;
            }
        }
    }
    .content-section{
        padding: 0;
        background: #fff;
        .content-section__illustration{
            position: relative;
            width: 50%;
            background: linear-gradient(45deg,
            $red 40%,
            rgba(236,236,236,1) 40%);
            img{
                width: 80%;
                opacity: 1;
                z-index: 1;
            }
        }
        .content-section__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 0 5vw;
            width: 50%;
            height: 100%;
            h2, h4, p{
                display: block;
            }
        }
    }
}