*{
    box-sizing: border-box;
    margin: 0 0;
}
$red: #f25f5c;
$green:#8CFA90;
$fColor: #F0EF6E; 
$bColor:#75A0FA;
$gC1: #F0EF6E;
$gC2: #00E0C6;
$backColor: #00E0C6;
$dark: #363636;

body{
    background-color: $backColor;
}
.game-section{
    display: flex;
    flex-direction: column;
    height: 100vh;
    .game-title{
        display: flex;
        align-content: center;
        justify-content: center;
        order:-1000;
        text-align: center;
        padding: 6vmin 0 4vmin 0;
        font-size: 4vmin;
        font-family: Arial, sans-serif;
        font-weight: 700;
        color: $dark;
        span{
            display: block;
            width: 7vmin;
            height: 7vmin;
            margin: 0 1vmin;
            perspective: 200px;
            em{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
                color: transparent;
                border-width: 0.5vmin;
                border-style: solid;
                border-radius: 1vmin;
                font-style: normal;
                transform: rotate3d(0, 1, 0, 0deg);
                animation: letterFlip 1s;
                animation-timing-function: ease-in-out;
                transform-style: preserve-3d;
                animation-fill-mode: forwards;
            }
        }        
        @keyframes letterFlip {
            from {
                transform: rotate3d(0, 1, 0, 90deg);
                color: transparent;
                border-color: transparent;
            }
            to{
                transform: rotate3d(0, 1, 0, 0deg);
                color:$dark;
                border-color: $dark;
            }
        }

        span:nth-child(2){
            em{
                animation-delay: 1s;
            }
        }
        span:nth-child(3){
            em{
                animation-delay: 2s;
            }
        }
        span:nth-child(4){
            em{
                animation-delay: 2s;
            }
        }
        span:nth-child(5){
            em{
                animation-delay: 1s;
            }
        }

    }
    .game-clock{
        order: 1000;
        text-align: center;
        padding: 2vmin 0;
        font-size: 3vmin;
        font-family: Arial, sans-serif;
        font-weight: 700;
        color: $dark;
    }
    .game-overlay{
        justify-content: center;
        align-items: center;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height: 100%;
        .message-box{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 30vw;
            padding: 3vmin;
            background-color: $backColor;
            font-size: 4vmin;
            font-family: Arial, sans-serif;
            font-weight: 700;
            color: $dark;
            text-align: center;
            border-radius: 4vmin;
            border: 0.5vmin solid $dark;
            h2{
                display:block;
                font-size: 4vmin;
                margin-bottom: 3vmin;
            }
            .restart-button{
                width: 5vmin;
                height: 5vmin;
                border-radius: 50%;
                border: 0.5vmin solid $bColor;
                cursor: pointer;
                color: inherit;
                padding: 0;
                font: inherit;
                outline: inherit;
                font-size: 3.5vmin;
                background-color: $green;
                transition: border 0.5s;
                transition-timing-function: ease-in-out;
            }
            .restart-button:hover{
                border: 0.5vmin solid $green;
                transform: rotate(0);                
                animation: rotateButton 2s;
                animation-timing-function: ease;
                animation-iteration-count: infinite;
            }
            @keyframes rotateButton {
                from{
                    transform: rotate(0);
                }
                to{
                    transform: rotate(360deg);
                }
            }
        }
    }
}
.game-container{
    order:1;
    display: grid;
    grid-gap: 2vmin;
    grid-template-columns: repeat(6, 10vmin);
    grid-template-rows: repeat(4, 10vmin);
    justify-content: center;
    perspective: 600px;
    user-select: none;
    .card{
        transform-style: preserve-3d;
        transition: transform 0.5s;
        font-size: 6vmin;
        line-height: 10vmin;
        div{
            position: absolute;
            display:flex;
            justify-content: center;
            align-items: center;
            width:100%;
            height: 100%;
            backface-visibility: hidden;
            border-radius: 2vmin;
            box-shadow: 0.1vmin 0.1vmin 0.5vmin black;
        }
        .card-face{
            transform: rotateY(180deg);
        }
    }
}
.green{
    background-color: $green;
    border: 0.5vmin solid $green;
}
.red{
    background-color: $red;
}
.gradient{
    background-image: linear-gradient(45deg,$gC1,$gC2);
    border: 0.5vmin solid $bColor;
}
.borderColor{
    background-color: $bColor;
}
.faceColor{
    background-color: $fColor;
}
.rotY180{
    transform: rotateY(180deg);
}
.hidden{
    display: none;
}
.flex{
    display: flex;
}
.transparent{
    background-color: transparent;
}
.semitransparent{
    background-color: #0000008f;
}